# Unity 기본 캐시/빌드 폴더 무시
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
UserSettings/
MemoryCaptures/
Recordings/

# 에셋스토어 도구 무시 (필요시 주석 해제)
# Assets/AssetStoreTools*

# JetBrains Rider 플러그인 무시
Assets/Plugins/Editor/JetBrains*

# IDE 및 빌드 도구 관련 무시
.vs/
.gradle/
ExportedObj/
.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# Unity 메타파일 무시
*.pidb.meta
*.pdb.meta
*.mdb.meta

# Unity 크래시 리포트 파일 무시
sysinfo.txt

# 빌드 결과물 무시
*.apk
*.aab
*.unitypackage
*.unitypackage.meta
*.app

# Crashlytics 관련 파일 무시
crashlytics-build.properties

# Packed Addressables 무시
Assets/AddressableAssetsData/*/*.bin*

# StreamingAssets 임시 파일 무시
Assets/StreamingAssets/aa.meta
Assets/StreamingAssets/aa/*

# 기타
.utmp/
